.card-container {
    width: 300px;
    box-shadow: 0 8px 8px;
    border-radius: 8px;
    position: relative;
    background: white;
    }
      
    body {
        font-family: Arial, sans-serif;
        align-items: center;
        display: flex;
        border: 300px 100px 50px;
        width:800px;
        height: 500px;
        background: black;
        border-width:thick;
        border-style: solid;
        border-color: lightgray; 
    }

    .heading {
        position: absolute;
        top: -30px;
        left: 30px;
        right: 30px;
        background: deeppink;
        color: black;
        font-weight: bolder;
        padding: 15px 15px;
        border-radius: 10px;
        font-size: 25px;
        width: 200px;
    }

    p {
        font-size: 15px;
        color: #333;
        line-height: 2.0;
        margin: 28px;
    }
    